.catalog-title{
    padding-top: 30px;
    .h1{
        margin: 50px 0;
    }
}

.catalog-nav{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    &__link{
        position: relative;
        color: $grey;
        padding-bottom: 10px;
        margin-right: 30px;

        &:hover{
            color: $green;
            text-decoration: none;
        }

        &.active{
            font-weight: 800;
            color: $black;
            cursor: default;

            &:after{
                position: absolute;
                z-index: -1;
        
                display: block;
                content: '';
                width: 90%;
                height: 10px;
        
                border-radius: 5px;
                background: rgba(35, 136, 24, 0.2);
                transform: translateY(-10px);
            }
        }
    }
}

.catalog{
    &__project{
        position: relative;
        &__label{
            position: absolute;
            top: 0;
            left: 20px;

            font-size: 12px;
            font-weight: 600;
            text-transform: uppercase;

            color: $white;
            background: linear-gradient(90deg, #2e6e3e 0%, #329d49 100%);
            padding: 4px 8px;
        }
        &__image{
            &_small{
                & + .catalog__project__image_small{
                    margin-top: 40px;
                }
            }
        }
        &__title{
            font-size: 1.2rem;
            font-weight: 700;
            line-height: 1.4em;
        }
        &__location{
            font-size: 12px;
            line-height: 1.4em;
        }

        & + .catalog__project{
            margin-top: 40px;
            padding-top: 40px;
            
            &:before{
                content:'';
                display: block;
                position: absolute;
                top: 0;
                left: 20px;
                width: calc(100% - 40px);
                height: 1px;
                background: $grey;
            }
        }
    }
    & + .pagination{
        margin-top: 40px;
        border-top: 1px solid #e5e5e5;
    }
}
