footer.footer
    .container
        .row
            .col-xl-3
                a.footer__logo(href="/")
            nav.col-xl-3
                ul.footer__nav  
                    li.footer__item
                        a.footer__link(href="#") Услуги
                    li.footer__item
                        a.footer__link(href="#") Каталог проектов
                    li.footer__item
                        a.footer__link(href="#") Клиентам и инвесторам
                    li.footer__item
                        a.footer__link(href="#") Поставщикам
            .col-xl-2
                ul.footer__contact
                    li.footer__contact__phone
                        span.footer__label Телефон для связи
                        a.footer__link(href="tel:880066655544") 8 (800) 666-55-44
                    li.footer__contact__email
                        span.footer__label E-mail
                        a.footer__link(href="mailto:info@apeksgroup.ru") info@apeksgroup.ru
                        a.footer__link(href="mailto:info@apeksgroup.ru") sales@apeksgroup.ru
            .col-xl-4
                .footer__search
                    p.footer__search__label Поиск по сайту
                    input.footer__search__input
                a.footer__policy(href="#") Политика конфеденциальности
        .row.footer__subline
            .col-sm-6.text-left
                p © 2019. Все права защищены
            .col-sm-6.text-right
                p Сайт разработан 
                    a(href="#") студией «SOHO»