header.header
    nav.navbar
        .container
            ul.navbar-list
                li.navbar-item
                    a.navbar-link Тест 1
                li.navbar-item
                    a.navbar-link Тест 2
                li.navbar-item
                    a.navbar-link Тест 3
                li.navbar-item
                    a.navbar-link Тест 4
    .container.container_header
        .row.align-items-center
            .col-xl-5
                a.header__logo(href="/")
            .col-xl-2.d-flex.justify-content-center
                .header__navbar-toggler
                    span.header__navbar-title МЕНЮ
                    svg.header__navbar-icon(width="32px" height="20px")
                        path.path(fill-rule="evenodd" d="M-0.000,3.999 L-0.000,-0.001 L32.000,-0.001 L32.000,3.999 L-0.000,3.999 ZM24.000,12.000 L-0.000,12.000 L-0.000,7.999 L24.000,7.999 L24.000,12.000 ZM16.000,19.999 L-0.000,19.999 L-0.000,15.999 L16.000,15.999 L16.000,19.999 Z")
            .col-xl-5
                .header__contact
                    a.header__contact-phone(href="tel:88006665544") 8 (800) 666-55-44
                .header__contact
                    a.header__contact-modal(href="#") Связаться с менеджером