.content{
    position: relative;
    padding: 140px 0;

    .row + .row{
        margin-top: 140px;
    }

    & + .content{
        padding-top: 0px;
    }
    & + .project{
        padding-top: 0px;
    }
}
.subheading{
    position: relative;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;

    margin-bottom: 60px;

    & + .offer{
        margin-top: -30px;
    }

    &:after{
        position: absolute;
        z-index: -1;

        display: block;
        content: '';
        width: 180px;
        height: 10px;

        border-radius: 5px;
        background: rgba(35, 136, 24, 0.2);
        transform: translateY(-10px);
    }

    &-color{
        font-size: 1.25rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $green;
    }
}
.heading{
    font-size: 2.25rem;
    font-weight: 400;
    line-height: 1.3em;

    margin-bottom: 60px;

    &.text-bold{
        font-weight: 600;
    }
    &.mb-0{
        margin-bottom: 0;
    }
}