.content{
    position: relative;
    padding: 60px 0;

    .row + .row{
        margin-top: 60px;
    }

    & + .content{
        padding-top: 0px;
    }
    & + .project{
        padding-top: 0px;
    }
}
.subheading{
    position: relative;
    font-size: 1.25rem;
    font-weight: 900;
    text-transform: uppercase;

    margin-bottom: 40px;

    & + .offer{
        margin-top: -30px;
    }

    &:after{
        position: absolute;
        z-index: -1;

        display: block;
        content: '';
        width: 180px;
        height: 10px;

        border-radius: 5px;
        background: rgba(35, 136, 24, 0.2);
        transform: translateY(-10px);
    }

    &-color{
        font-size: 1.25rem;
        font-weight: 900;
        text-transform: uppercase;
        color: $green;
    }
}
.heading{
    font-size: 1.75rem;
    font-weight: 400;
    line-height: 1.1;

    margin-bottom: 30px;

    &.text-bold{
        font-weight: 600;
    }
    &.mb-0{
        margin-bottom: 0;
    }
    .heading__info{
        display:block;
        font-size:16px;
        line-height:1.2;
        text-transform:uppercase;
        letter-spacing:2px;
        margin-bottom:30px;
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'md') ) {
    .content{
        padding: 80px 0;
        .row + .row{
            margin-top: 80px;
        }
    }
    .heading{
        font-size: 2.25rem;
        .heading__info{
            font-size:20px;
            margin-bottom:60px;
        }
    }  
    .subheading{
        margin-bottom: 60px;
    }  
}
@media all and (min-width: map-get($grid-breakpoints, 'lg') ) {
    .content{
        padding: 100px 0;
    }
}
@media all and (min-width: map-get($grid-breakpoints, 'xl') ) {
    .content{
        padding: 140px 0;
        .row + .row{
            margin-top: 140px;
        }
    }
}