.content_person{
    &__name{
        font-size: 1.5rem;
        line-height: 1.1;
        font-weight: 700;
    }
    &__surname{
        font-size: 1.5rem;
        font-weight: 700;
        line-height: 1.1;
        margin-top: 0;
    }
    &__position{
        font-size: 14px;
        font-weight: 400;
        color: $grey;
    }
    &__link{
        color:$light-green;
        font-weight: 600;
    }
    &__image{
        margin-bottom: 20px;
    }
}

@media all and (min-width: map-get($grid-breakpoints, 'md') ) {
    .content_person{
        &__name{
            font-size: 1.2rem;
        }
        &__surname{
            font-size: 1.2rem;
        }
        &__position{
            font-size: 12px;
        }
        &__image{
            margin-bottom: 0;
        }
    }
}