.header{
    padding: 60px 0;
    // background: #2a4a36;

    &_fixed{
        position: absolute;
        width: 100%;
        top: 0;
        left: 0;
        z-index: 11;
    }

    &__logo{
        width: 280px;
        height: 70px;
        background: url("/img/logo.png") no-repeat left center / contain;
    }
    &__navbar-toggler{
        position: relative;
        cursor: pointer;
        display: flex;
        align-items: center;    
    }
    &__navbar-title{
        color: $white;
        font-size: 14px;
        line-height: 1em;
        margin-right: .5em;
    }
    &__contact{
        text-align: right;
        &-phone{
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1.2em;
            color: $white;
            &:hover{
                color: $white;
            }
        }
        &-modal{
            font-size: 12px;
            line-height: 1em;
            margin-top: .5rem;
            color: $white;
            border-bottom: 1px dotted;
            &:hover{
                color: $white;
                text-decoration: none;
            }
        }
    }
}