.project{
    padding: 60px 0;
    &__item{
        .project__image{
            margin-bottom: 1rem;
            position: relative;
        }
        .project__link{
            font-size: 3rem;
            font-weight: 400;

            width: 70px;
            line-height: 52px;
            height: 70px;
            text-align: center;

            color: #f0f0f0;
            background: linear-gradient( 90deg, #2e6e3e 0%, #329d49 100%);
            border: 8px solid #f0f0f0;
            border-radius: 35px;

            position: absolute;
            right: 10px;
            bottom: 0;
            transform: translateY(50%);

            &:hover{
                text-decoration: none;
                color: $white;
                border-color: #d3e7d1;
            }
        }
        .project__theme{
            font-size: 12px;
            text-transform: uppercase;
            padding-right: 70px;
        }
        .project__title{
            font-weight: 700;
        }
        .project__location{
            font-size: 12px;
        }
    }
}