html(lang="ru")
    include chunks/head.pug
    body.index
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            header.section-main
                .container
                    .row.justify-content-end.align-items-end
                        .col-xl-6
                            h1.heading Eget mi proin sed libero enim sed faucibus turpis&nbsp;in
                        .col-xl-6
                            p.offer Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Urna cursus eget nunc scelerisque viverra mauris in. A cras semper auctor neque vitae tempus quam.
                .container.container_services
                    .row.justify-content-end
                        .col-xl-10.section-main__services
                            a.section-main__services__item(href="#" style="background-image:url('/img/demo-01.png')")
                                .section-main__services__title
                                    span.text-bold Строительство 
                                    | промышленное 
                                    | и гражданское
                            a.section-main__services__item(href="#" style="background-image:url('/img/demo-02.png')")
                                .section-main__services__title
                                    span.text-bold Производство  
                                    | строительных 
                                    | материалов
                            a.section-main__services__item(href="#" style="background-image:url('/img/demo-03.png')")
                                .section-main__services__title
                                    span.text-bold Инвестирование  
                                    | в девелоперские 
                                    | проекты
            section.content.content_history
                .container
                    p.subheading История компании
                    .row
                        .col-xl-7
                            h2.heading Lorem ipsum dolor sit amet, consectetur adipiscing elit
                        .col-xl-6
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
                        .col-xl-6
                            .stats
                                .stats-item 
                                    .stats-item__title.icon-company Компания на рынке
                                    .stats-item__count
                                        .active(style="width: 30%;")
                                        .title(style="transform: translateX(66px) translateY(-40px);") 30 лет
                                .stats-item 
                                    .stats-item__title.icon-graph Доходность за год
                                    .stats-item__count
                                        .active(style="width: 70%;")
                                        .title(style="transform: translateX(160px) translateY(-40px);") 8,5 млн. руб.
                                .stats-item 
                                    .stats-item__title.icon-case Сотрудников в штате
                                    .stats-item__count
                                        .active(style="width: 50%;")
                                        .title(style="transform: translateX(96px) translateY(-40px);") 1 500 человек
            section.content.content_person
                .container
                    p.subheading Руководство компании
                    .row
                        .col-xl-6
                            .row
                                .col-xl-5
                                    img.content_person__image(src="/img/pic-01.png")
                                .col-xl-7
                                    p.content_person__name Владимир Семенович
                                    p.content_person__surname Клименко
                                    p.content_person__position председатель Совета директоров
                                    p.content_person__desc Sit amet consectetur adipiscing elit ut. Aliquam sem fringilla ut morbi tincidunt. Elit ut aliquam purus sit amet luctus venenatis lectus magna. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. In est ante in nibh mauris cursus mattis. 
                        .col-xl-6
                            .row
                                .col-xl-5
                                    img.content_person__image(src="/img/pic-02.png")
                                .col-xl-7
                                    p.content_person__name Владимир Семенович
                                    p.content_person__surname Клименко
                                    p.content_person__position генеральный директор
                                    p.content_person__desc Sit amet consectetur adipiscing elit ut. Aliquam sem fringilla ut morbi tincidunt. Elit ut aliquam purus sit amet luctus venenatis lectus magna. Dolor sed viverra ipsum nunc aliquet bibendum enim facilisis gravida. In est ante in nibh mauris cursus mattis. 
            section.content.content_service
                .container
                    p.subheading Основные виды деятельности
                .container-fluid.p-0
                    .content_service__slider.slider-for
                        .content_service__images(style="background-image: url('/img/services-demo-02.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-01.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-03.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-04.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-05.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-06.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-07.png')")
                    ul.content_service__items.row
                        li.col.col-xl-4
                            .content_service__link.content_service__link--active(data-item="1")
                                span.number 01
                                span.name Промышленное строительство
                        li.col.col-xl-4
                            .content_service__link(data-item="2")
                                span.number 02
                                span.name Объекты транспортной инфраструктуры
                        li.col.col-xl-4
                            .content_service__link(data-item="3")
                                span.number 03
                                span.name Общественные здания и сооружения
                        li.col.col-xl-3
                            .content_service__link(data-item="4")
                                span.number 04
                                span.name Объекты энергетики
                        li.col.col-xl-3
                            .content_service__link(data-item="5")
                                span.number 05
                                span.name Гражданское строительство
                        li.col.col-xl-3
                            .content_service__link(data-item="6")
                                span.number 06
                                span.name Метростроение
                        li.col.col-xl-3
                            .content_service__link(data-item="7")
                                span.number 07
                                span.name Объекты культурного наследия
                    .slider-nav.d-none
                        .slider-item 1
                        .slider-item 2
                        .slider-item 3
                        .slider-item 4
                        .slider-item 5
                        .slider-item 6
                        .slider-item 7
            section.content.content_licences
                .container
                    p.subheading Лицензии и СРО
                    .licences
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__title СРО
                                p.licences__subtitle на проектирование
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__title СРО
                                p.licences__subtitle на проектирование
                        .licences__item.active
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__title СРО
                                p.licences__subtitle на проектирование
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__title СРО
                                p.licences__subtitle на проектирование
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__title СРО
                                p.licences__subtitle на проектирование
            .project
                .container
                    p.subheading Выполненные проекты
                    .row
                        .col-md-4
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-01.png" data-fancybox="project-1" data-thumb="/img/portfolio-01.png") +
                                        figcaption.project-1.d-none
                                            p.theme Транспортная инфраструктура
                                            p.title Реконструкция автодороги А-121 к Константиновскому дворцу
                                            p.location г. Санкт-Петербург
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.") +
                                    img.img-fluid(src="/img/portfolio-01.png")
                                p.project__theme Транспортная инфраструктура
                                p.project__title Реконструкция автодороги А-121 к Константиновскому дворцу
                                p.project__location г. Санкт-Петербург
                        .col-md-4
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-02.png" data-fancybox="project-1" data-thumb="/img/portfolio-02.png") +
                                        figcaption.d-none
                                            p.theme Промышленное строительство
                                            p.title Комплекс гидрокрекинга
                                            p.location г. Кириши
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.") +                                            
                                    img.img-fluid(src="/img/portfolio-02.png")
                                p.project__theme Промышленное строительство
                                p.project__title Комплекс гидрокрекинга
                                p.project__location г. Кириши
                        .col-md-4
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-03.png" data-fancybox="project-1" data-thumb="/img/portfolio-03.png") +
                                        figcaption.d-none
                                            p.theme Общественные здания и&nbsp;сооружения
                                            p.title Реконструкция здания Федеральной Службы Судебных Приставов
                                            p.location г. Москва
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.")
                                    img.img-fluid(src="/img/portfolio-03.png")
                                p.project__theme Общественные здания и&nbsp;сооружения
                                p.project__title Реконструкция здания Федеральной Службы Судебных Приставов
                                p.project__location г. Москва
            .section-maps#map
        include chunks/footer.pug
        script(src="https://api-maps.yandex.ru/2.1/?apikey=9101629a-d644-4cc4-aa18-4032c120fc8e&lang=ru_RU")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/app.min.js")