html(lang="ru")
    include chunks/head.pug
    body.index
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            header.section-main
                .container
                    .row.align-items-end
                        .col-xl-6
                            h1.heading 
                                span.heading__info Будем вместе, будем сильнее!
                                span.text-bold Возведение объектов 
                                | капитального строительства и&nbsp;инфраструктуры 
                        .col-xl-5
                            p.offer Высокие стандарты строительства, профессионализм управления, честность 
                                | и&nbsp;гибкость во&nbsp;взаимоотношениях с&nbsp;заказчиками позволяют нам вести 
                                | деятельность на&nbsp;территории нескольких регионов России
                .container.container_services
                    .row.justify-content-end
                        .col-xl-10.section-main__services
                            a.section-main__services__item(href="#" style="background-image:url('/img/demo-01.png')")
                                .section-main__services__title
                                    span.text-bold Строительство 
                                    | промышленное 
                                    | и гражданское
                            a.section-main__services__item(href="#" style="background-image:url('/img/demo-02.png')")
                                .section-main__services__title
                                    span.text-bold Производство  
                                    | строительных 
                                    | материалов
                            a.section-main__services__item(href="#" style="background-image:url('/img/demo-03.png')")
                                .section-main__services__title
                                    span.text-bold Инвестирование  
                                    | в девелоперские 
                                    | проекты
            section.content.content_history
                .container
                    .row.justify-content-between
                        .col-xl-5
                            h2.heading Более 
                                span.text-bold  30 лет 
                                | стабильной работы и&nbsp;безупречной репутации
                        .col-xl-6
                            p Компания «Апекс» была основана 20 мая 1989 года в г. Ленинград и стала одним из первых акционерных обществ на пространстве бывшего СССР. Стабильная работа вне зависимости от изменения экономической платформы, политической парадигмы и основ государственного регулирования отрасли за последние треть века подтверждает опыт, качество и жизнеспособность компании в любых ситуациях.
                            p Безупречная деловая репутация, наличие собственных производственных мощностей, а также пула проверенных партнеров и субподрядчиков позволяют нам реализовать проекты любой сложности с четким соблюдением качественных и временных параметров строительства.
                    .row
                        .col-md-6.mb-30.mb-md-0
                            p.subheading-color Гарантия качества
                            p Основными критериями работы группы компаний «Апекс» являются безупречное качество строительства и используемых материалов, бескомпромиссное соблюдение норм безопасности работ, своевременность сдачи объектов и долгосрочные гарантийные обязательства.
                        .col-md-6
                            p.subheading-color Oфисы в 4 городах
                            p В настоящее время офисы группы компаний «Апекс» представлены в городах Санкт-Петербург, Москва, Казань и Екатеринбург. Вместе с тем, география нашего строительства не ограничивается указанными регионами и включает в себя все регионы страны и страны ближнего зарубежья.
                    //- .row.justify-content-between.align-items-center
                    //-     .col-xl-6
                    //-         .stats
                    //-             .stats-item 
                    //-                 .stats-item__title.icon-company Компания на рынке
                    //-                 .stats-item__count
                    //-                     .active(style="width: 30%;")
                    //-                     .title(style="transform: translateX(66px) translateY(-40px);") 30 лет
                    //-             .stats-item 
                    //-                 .stats-item__title.icon-graph Доходность за год
                    //-                 .stats-item__count
                    //-                     .active(style="width: 70%;")
                    //-                     .title(style="transform: translateX(160px) translateY(-40px);") 8,5 млн. руб.
                    //-             .stats-item 
                    //-                 .stats-item__title.icon-case Сотрудников в штате
                    //-                 .stats-item__count
                    //-                     .active(style="width: 50%;")
                    //-                     .title(style="transform: translateX(96px) translateY(-40px);") 1 500 человек
                    //-     .col-xl-5
                    //-         p.heading.mb-0 Активно растущая база партнеров и заказчиков 
                    //-             span.text-bold по&nbsp;всей&nbsp;России
            section.content.content_person
                .container
                    p.subheading КЛЮЧЕВЫЕ ФИГУРЫ
                    .row
                        .col-lg-6.mb-60
                            .row
                                .col-md-4.col-sm-3
                                    img.content_person__image.img-fluid(src="/img/pic-01.png")
                                .col-md-8.col-sm-9
                                    p.content_person__name Владимир Семенович
                                    p.content_person__surname Клименко
                                    p.content_person__position Председатель совета директоров компаний «Апекс»
                                    p.content_person__desc В 1980 году окончил Ленинградский инженерно-строительный институт по специальности «Промышленное и гражданское строительство», квалификация «Инженер строитель». 
                                    p.content_person__desc
                                        a.content_person__link(href="#") Узнать больше
                        .col-lg-6
                            .row
                                .col-md-4.col-sm-3
                                    img.content_person__image.img-fluid(src="/img/pic-02.png")
                                .col-md-8.col-sm-9
                                    p.content_person__name Андрей Анатольевич
                                    p.content_person__surname Пономаренко
                                    p.content_person__position Генеральный директор ООО «Группа Апекс»
                                    p.content_person__desc В 2005 году закончил Псковский государственный политехнический институт по специальности «промышленное и гражданское строительство» с присвоением квалификация «Инженер строитель».
                                    p.content_person__desc 
                                        a.content_person__link(href="#") Узнать больше
            section.content
                .container
                    p.subheading ПАРТНЕРЫ И ЗАКАЗЧИКИ
                    .row
                        .col-lg-3.col-6.mb-30.mb-lg-0
                            img.img-fluid.img-bnw(src="/img/logo-1.png")
                        .col-lg-3.col-6.mb-30.mb-lg-0
                            img.img-fluid.img-bnw(src="/img/logo-2.png")
                        .col-lg-3.col-6
                            img.img-fluid.img-bnw(src="/img/logo-3.png")
                        .col-lg-3.col-6
                            img.img-fluid.img-bnw(src="/img/logo-4.png")
            section.content.content_service
                .container
                    p.subheading Основные виды деятельности
                .container-fluid.p-0
                    .content_service__slider.slider-for
                        .content_service__images(style="background-image: url('/img/services-demo-02.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-01.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-03.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-04.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-05.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-06.png')")
                        .content_service__images(style="background-image: url('/img/services-demo-07.png')")
                    ul.content_service__items.row
                        li.col.col-12.col-md-6.col-xl-4
                            .content_service__link.content_service__link--active(data-item="1")
                                span.number 01
                                span.name Промышленное строительство
                        li.col.col-12.col-md-6.col-xl-4
                            .content_service__link(data-item="2")
                                span.number 02
                                span.name Объекты транспортной инфраструктуры
                        li.col.col-12.col-xl-4
                            .content_service__link(data-item="3")
                                span.number 03
                                span.name Общественные здания и сооружения
                        li.col.col-12.col-md-6.col-xl-3
                            .content_service__link(data-item="4")
                                span.number 04
                                span.name Объекты энергетики
                        li.col.col-12.col-md-6.col-xl-3
                            .content_service__link(data-item="5")
                                span.number 05
                                span.name Гражданское строительство
                        li.col.col-12.col-md-6.col-xl-3
                            .content_service__link(data-item="6")
                                span.number 06
                                span.name Метростроение
                        li.col.col-12.col-md-6.col-xl-3
                            .content_service__link(data-item="7")
                                span.number 07
                                span.name Объекты культурного наследия
                    .slider-nav.d-none
                        .slider-item 1
                        .slider-item 2
                        .slider-item 3
                        .slider-item 4
                        .slider-item 5
                        .slider-item 6
                        .slider-item 7
            section.content.content_licences
                .container
                    p.subheading Лицензии и СРО
                    p.offer Мы обладаем максимально широким набором лицензий, сертификатов и аккредитаций 
                        | в различных сферах строительства, что дает компании возможность реализовывать 
                        | самые разнообразные строительные проекты от реконструкции объектов культурного 
                        | наследия и строительства сооружений социальной инфраструктуры до создания объектов 
                        | сферы безопасности и реализации масштабных транспортных проектов.
                    .licences
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__subtitle на проектирование
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__subtitle на проектирование
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__subtitle на проектирование
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__subtitle на проектирование
                        .licences__item
                            img.img-fluid.licences__image(src="/img/licences-demo.png")
                            .licences__content
                                p.licences__subtitle на проектирование
            .project
                .container
                    p.subheading Выполненные проекты
                    .row
                        .col-md-4.mb-60.mb-md-0
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-01.png" data-fancybox="project-1" data-thumb="/img/portfolio-01.png") +
                                        figcaption.project-1.d-none
                                            p.theme Транспортная инфраструктура
                                            p.title Реконструкция автодороги А-121 к Константиновскому дворцу
                                            p.location г. Санкт-Петербург
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.") +
                                    img.img-fluid(src="/img/portfolio-01.png")
                                p.project__theme Транспортная инфраструктура
                                p.project__title Реконструкция автодороги А-121 к Константиновскому дворцу
                                p.project__location г. Санкт-Петербург
                        .col-md-4.mb-60.mb-md-0
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-02.png" data-fancybox="project-1" data-thumb="/img/portfolio-02.png") +
                                        figcaption.d-none
                                            p.theme Промышленное строительство
                                            p.title Комплекс гидрокрекинга
                                            p.location г. Кириши
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.") +                                            
                                    img.img-fluid(src="/img/portfolio-02.png")
                                p.project__theme Промышленное строительство
                                p.project__title Комплекс гидрокрекинга
                                p.project__location г. Кириши
                        .col-md-4
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-03.png" data-fancybox="project-1" data-thumb="/img/portfolio-03.png") +
                                        figcaption.d-none
                                            p.theme Общественные здания и&nbsp;сооружения
                                            p.title Реконструкция здания Федеральной Службы Судебных Приставов
                                            p.location г. Москва
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.")
                                    img.img-fluid(src="/img/portfolio-03.png")
                                p.project__theme Общественные здания и&nbsp;сооружения
                                p.project__title Реконструкция здания Федеральной Службы Судебных Приставов
                                p.project__location г. Москва
            .section-maps#map
        include chunks/footer.pug
        script(src="https://api-maps.yandex.ru/2.1/?apikey=9101629a-d644-4cc4-aa18-4032c120fc8e&lang=ru_RU")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/app.min.js")