html(lang="ru")
    include chunks/head.pug
    body
        script(src="http://code.jquery.com/jquery-3.3.1.min.js")
        include chunks/header.pug
        main
            section.content.service-title
                .container
                    ul.breadcrumbs
                        li.breadcrumbs__item
                            a.breadcrumbs__link(href="#") Главная
                        li.breadcrumbs__sep —
                        li.breadcrumbs__item.active Объекты транспортной инфраструктуры
                    h1.h1 Объекты транспортной инфраструктуры
                    .row.align-items-end
                        .col-lg-8
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi.
                        .col-lg-4.text-lg-right
                            a.scroll.scroll-down(href="#bottom") Подробнее
            .project#bottom
                .container
                    p.subheading Выполненные проекты
                    .row
                        .col-md-4
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-01.png" data-fancybox="project-1" data-thumb="/img/portfolio-01.png") +
                                        figcaption.project-1.d-none
                                            p.theme Транспортная инфраструктура
                                            p.title Реконструкция автодороги А-121 к Константиновскому дворцу
                                            p.location г. Санкт-Петербург
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.") +
                                    img.img-fluid(src="/img/portfolio-01.png")
                                p.project__theme Транспортная инфраструктура
                                p.project__title Реконструкция автодороги А-121 к Константиновскому дворцу
                                p.project__location г. Санкт-Петербург
                        .col-md-4
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-02.png" data-fancybox="project-1" data-thumb="/img/portfolio-02.png") +
                                        figcaption.d-none
                                            p.theme Промышленное строительство
                                            p.title Комплекс гидрокрекинга
                                            p.location г. Кириши
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.") +                                            
                                    img.img-fluid(src="/img/portfolio-02.png")
                                p.project__theme Промышленное строительство
                                p.project__title Комплекс гидрокрекинга
                                p.project__location г. Кириши
                        .col-md-4
                            .project__item
                                .project__image
                                    a.project__link(href="/img/portfolio-03.png" data-fancybox="project-1" data-thumb="/img/portfolio-03.png") +
                                        figcaption.d-none
                                            p.theme Общественные здания и&nbsp;сооружения
                                            p.title Реконструкция здания Федеральной Службы Судебных Приставов
                                            p.location г. Москва
                                            p Есть много вариантов Lorem Ipsum, но большинство из них имеет не всегда приемлемые модификации, например, юмористические вставки или слова, которые даже отдалённо не напоминают латынь. Если вам нужен Lorem Ipsum для серьёзного проекта, вы наверняка не хотите какой-нибудь шутки, скрытой в середине абзаца. Также все другие известные генераторы Lorem Ipsum используют один и тот же текст, который они просто повторяют, пока не достигнут нужный объём. Это делает предлагаемый здесь генератор единственным настоящим Lorem Ipsum генератором. Он использует словарь из более чем 200 латинских слов, а также набор моделей предложений. В результате сгенерированный Lorem Ipsum выглядит правдоподобно, не имеет повторяющихся абзацей или невозможных слов.")
                                    img.img-fluid(src="/img/portfolio-03.png")
                                p.project__theme Общественные здания и&nbsp;сооружения
                                p.project__title Реконструкция здания Федеральной Службы Судебных Приставов
                                p.project__location г. Москва
            section.service-info
                .container-fluid
                    .row.service-info__row
                        .col-lg-3.service-info__col.service-info__b-lg-right
                            p Lorem ipsum dolor sit amet
                        .col-lg-3.service-info__col.service-info__b-lg-right
                            p Incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam
                        .col-lg-3.service-info__col.service-info__b-lg-right
                            p Lorem ipsum dolor sit amet
                        .col-lg-3.service-info__col
                            p Lorem ipsum dolor sit amet
                        .col-lg-6.service-info__col.service-info__b-lg-right
                            img.img-fluid(src="/img/test-stats.png" style="    width: 340px;")
                        .col-lg-6.service-info__col
                            h4 В этом месяце сделано 
                            p Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
            .section-maps#map
        include chunks/footer.pug
        script(src="https://api-maps.yandex.ru/2.1/?apikey=9101629a-d644-4cc4-aa18-4032c120fc8e&lang=ru_RU")
        script(src="./js/jquery.inputmask.js")
        script(src="./js/slick.min.js")
        script(src="./js/jquery.fancybox.min.js")
        script(src="./js/app.min.js")